header {
    position: fixed;
    width: 100%;
    height: 60%;
    background: rgb(255, 255, 255);
}    

body {
	background: linear-gradient(360deg, rgb(46, 103, 156), rgb(18, 39, 77));
	margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}    


h1 {
    width: 100%;
    height: 60%;
    color: rgb(253, 253, 253);
    text-align: center;

}

h3 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding-top: 20px;
    width: 100%;
    text-align: center;
}	

p {
	color: rgb(255, 255, 255);
	line-height: 1.3em;
	text-align: center;
	width: 100%;
    }
    
nav {
    font-size: 25px;
    color: rgb(255, 255, 255);
}    

legend {
    text-align: center;
    font-size: 25px;
    padding-top: 0px;
    align-content: center;
    color: rgb(255, 255, 255);
}

fieldset {
    padding-top: 0px; 
    width: 50%;  
    margin: auto;
    color: rgb(255, 255, 255);
}

.submitpost {
    text-align: center;
    color: rgb(255, 255, 255);
}

.posttext {
    text-align: center;
    padding-top: 50px;
    color: rgb(255, 255, 255);
    
}

.posttitle {
    padding-top: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.mainblogpost {
    
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.mainblogtitle {
    color: rgb(250, 250, 250);
    font-size: 25px;
    text-align: center;
}

.indblogpost {
    
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
}

.indblogtitle {
    color: rgb(250, 250, 250);
    font-size: 30px;
    text-align: center;
    margin: auto;
}

label {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    color: rgb(255, 255, 255);
}

a {
    color: rgb(207, 228, 202);
}

